* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body { 
	font-family: "Corbel", "Calibri", "Arial";
}
.left-panel {
	width: 50%;
	float: left;
	padding: 0 5% 0 5%;
	border-right: 1px solid #ddd;
}
.right-panel {
	width: 50%;
	float: right;
	padding: 0 5% 0 5%;
}			

.hac { text-align: center; }
.hal { text-align: left; }
.har { text-align: right; }

.vac { vertical-align: middle; }
.vat { vertical-align: top }

.no-bullets { list-style: none; }
.num-bullets {
	list-style-type: decimal;
	padding-left: 2em;
}


.no-gap {
	padding: 0;
	margin: 0;
}

/* reset */
ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

.fl { float: left }
.fr { float: right }
.clear { clear: both }

.ib { display: inline-block; }


.error { font-style: xx-large; color: red;}

/* Order of ng validation status classes _is_ relevant => you want invalid to win */

.ng-pristine  { border-right: solid 10px #DFFFFF; /* cyan    */ }

.ng-untouched { border-right: solid 10px #F3C2FF; /* magenta */ }

.ng-touched   { border-right: solid 10px #FFE3B0; /* orange  */ }

.ng-invalid   { border-right: solid 10px #FFC5C5; /* red     */ }

.ng-valid     { border-right: solid 10px #93EC93; /* green   */ }

